@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #000;
  background-image: linear-gradient(#456469, #111111);
}
.text-blue-primary {
  color: #80DEEA;
}
.bg-blue-primary {
  background-color: #80DEEA
}
input:focus {
  border-color: #80DEEA;
  outline: none;
}
.text-gray-primary {
  color: #707070;
}
.border-gray-primary {
  border-color: #707070;
}
