@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./header.css";
body {
  background-color: #000;
  width: 100%;
  overflow-x: hidden;
}
#app {
  min-height: 100vh;
}
input:focus {
  outline: none;
}
[v-cloak] > * { display:none }
.main-container {
  overflow-x: hidden;
}
.wrap {
  min-width: 100vw;
}
@media (min-width: 960px) {
  .wrap {
    min-width: calc(100vw - 258px);
  }
}
.auth-page {
  background: url('../assets/auth-bg.png') no-repeat top center;
  background-size: cover;
}
