@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./header.css";
body {
  background-color: #000;
  width: 100%;
  overflow-x: hidden;
}
#app {
  min-height: 100vh;
}
input:focus {
  outline: none;
}
[v-cloak] > * { display:none }
.main-container {
  overflow-x: hidden;
}
.wrap {
  min-width: 100vw;
}
.is-toggle-sidebar .wrap {
  min-width: calc(100vw - 300px);
}
.action-box {
  background-color: #2F2F2F;
}
.bottom-22 {
  bottom: 6.5rem;
}
@media (max-width: 600px) {
  .is-toggle-sidebar .wrap {
    min-width: 100vw;
  }
}
@media (min-width: 601px) {
  .flat-btn {
    top: 4.3rem !important;
    right: 1rem !important;
  }
}
.auth-page {
  background: url('../assets/auth-bg.png') no-repeat top center;
  background-size: cover;
}
