@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./header.css";
body {
  background-color: #000;
}
#app {
  min-height: 100vh;
}
input:focus {
  outline: none;
}
[v-cloak] > * { display:none }
.main-container {
  overflow-x: auto;
}
.wrap {
  min-width: 100vw;
}
