.header-menu {
  background-color: #232323;
  min-width: 258px;
}
@media (max-width: 600px) {
  .header-menu {
    min-width: 80vw;
  }
}

.menu-item {
  border-left: 4px solid transparent;
}
.menu-item:hover, .menu-item:active, .menu-item:focus {
  background-color: rgba(77, 208, 225, 0.2) !important;
  border-left: 4px solid #4DD0E1;
}
.slide-leave-active,
.slide-enter-active {
  transition: 0.5s;
}
.slide-enter {
  transform: translate(-100%, 0);
}
.slide-leave-to {
  transform: translate(-100%, 0);
}
.menu-icon {
  width: 60px;
}
